 @using FTT_WEB.Common.OriginClass.EntiityClass
 @model FormTableVM
@{
    List<SelectListItem> TT_CATEGORY_List = new List<SelectListItem>() { new SelectListItem() { Text = "一般", Value = "一般" } };


    string TreeModalId = Guid.NewGuid().ToString();
    ViewData["TreeModalId"] = TreeModalId;

}

<style>
    .table-header {
        background-color: #e9e9e9 !important;
    }
</style>

<input type="hidden" id="FORM_NO" value="" />
<input type="hidden" id="USER_TYPE" value="" />
<input TYPE="hidden" id="STATUS_DESC" value="" />
<input TYPE="hidden" id="FORM" value="" />
<input type="hidden" id="STATUSWORDING">
<input type="hidden" id="FORM_TYPE" value="" />
<input TYPE="hidden" id="STATUS" value="" />
<input TYPE="hidden" id="ACTION_NAME" value="" />





<input type="hidden" id="STORE_TYPE" value="" />
<input type="hidden" id="IVRCode" value="" />

<input type="hidden" id="TICKET_INFO" value="" />
<input type="hidden" id="AMOUNT_MAX_IDX" value="" />

<div>
    <form class="needs-validation" novalidate="" method="post" id="submitForm">
        <div class="table-responsive  bg-white" style="overflow-y: hidden;">
            <table class="table table-bordered align-middle" style="table-layout: fixed;">
                <tbody>
                    <tr>
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="rmTable_Header1">
                            請填寫相關資料，以利後續報修處理 !
                        </th>
                    </tr>
                    <tr>
                        <th class="table-header ">公司別</th>
                        <td id="StoreClass_Company"></td>
                        <th class="table-header ">店格</th>
                        <td id="StoreClass_StoreType"></td>
                        <th class="table-header">IVR Code</th>
                        <td id="StoreClass_IVRCode"></td>
                    </tr>
                    <tr>
                        <th class="table-header">通路</th>
                        <td id="StoreClass_Channel"></td>
                        <th class="table-header">區域</th>
                        <td id="StoreClass_Area"></td>
                        <th class="table-header">店名</th>
                        <td id="StoreClass_StoreName"></td>
                    </tr>
                    <tr>
                        <th class="table-header">eMails</th>
                        <td id="StoreClass_eMail"></td>
                        <th class="table-header">店長/聯絡人</th>
                        <td id="StoreClass_Owner"></td>
                        <th class="table-header">緊急電話</th>
                        <td id="StoreClass_PhoneUrgent"></td>
                    </tr>
                    <tr>
                        <th class="table-header">區經理 / 業務</th>
                        <td id="StoreClass_Manager"></td>
                        <th class="table-header">店長電話</th>
                        <td id="StoreClass_Phone"></td>
                        <th rowspan="4" class="table-header">營業時間</th>
                        <td rowspan="4" style="word-wrap: break-word;">
                            <table width="100%" height="80" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="">週一~五</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime1"></td>
                                </tr>
                                <tr>
                                    <td style="">星期六</td>
                                    <td style=""> :</td>
                                    <td id="StoreClass_BusinessTime2"></td>
                                </tr>
                                <tr>
                                    <td style="">星期日</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime3"></td>
                                </tr>
                                <tr>
                                    <td style="">國定假日</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime4"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-header">裝潢型態</th>
                        <td id="StoreClass_DecorationCondition"></td>
                        <th class="table-header">傳真電話</th>
                        <td id="StoreClass_PhoneFax"></td>
                    </tr>
                    <tr>
                        <th class="table-header">地址</th>
                        <td id="StoreClass_Address" colspan="3"></td>
                    </tr>
                    <tr>
                        <th class="table-header">備註</th>
                        <td id="StoreClass_Note" colspan="3"></td>
                    </tr>

                    <tr>
                        <th class="table-header">開單者</th>
                        <td id="ftt_formDTO_empname">
                        </td>
                        <th class="table-header">開單者連絡電話</th>
                        <td id="ftt_formDTO_emptel">
                        </td>
                        <th class="table-header">報修型態</th>
                        <td>
                            <select class="form-control initSelect2" id="tt_category" name="tt_category">
                                @foreach (var item in TT_CATEGORY_List)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">報修品項</th>
                        <td id="ftt_formDTO_CIDesc" colspan="2">
                            @* <button class="btn  btn-info" id="rmBtn_SelectItems">選擇項目</button> *@

                        </td>
                        <th colspan="3"></th>
                    </tr>

                    <tr>
                        <th class="table-header">一個月內覆修</th>
                        <td>
                            <div class="d-flex gap-4 justify-content-center align-items-center">
                                <label role="button">
                                    <input type="radio" name="ftt_formDTO_repair" Value="Y" /> 是
                                </label>
                                <label role="button">
                                    <input type="radio" name="ftt_formDTO_repair" Value="N" /> 否
                                </label>
                            </div>
                        </td>

                        <th class="table-header">補單</th>
                        <td>
                            <div class="d-flex gap-4 justify-content-center align-items-center">
                                <label>
                                    <input type="radio" name="ftt_formDTO_resupply" /> 是
                                </label>
                                <label>
                                    <input type="radio" name="ftt_formDTO_resupply" disabled /> 否
                                </label>
                            </div>
                        </td>

                        <th class="table-header">門市自行尋商</th>
                        <td id="ftt_formDTO_selfconfig">
                            <input type="hidden" id="SELFCONFIG" name="SELFCONFIG" value="" />
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">報修日期</th>
                        <td id="createTime">
                        </td>
                        <th class="table-header" rowspan="3">報修品項圖樣</th>
                        <td rowspan="3">
                            <span id="TT_IMAGE_PANNEL"></span>
                            <div class="d-flex justify-content-center">
                                <img class="m-0" id="TT_IMAGE" src="@(Url.Content("~/images/Item/no-product.gif"))" data-default-src="@(Url.Content("~/images/Item/no-product.gif"))" width="100" onclick="window.open(this.src,'showImg', 'status=no,toolbar=no,scrollbars=yes,resizable=yes,width=600,Height=500');" style="cursor:pointer;" align="middle" />
                            </div>
                        </td>

                        <th class="table-header">報修廠商</th>
                        <td>
                            @if (Model.ftt_formDTO_selfconfig == "N")
                            {
                                @StoreName
                            }
                            else
                            {
                                @Model.ftt_formDTO_merchant_name
                            }
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">驗收日</th>
                        <td id="approvalDate">
                        </td>
                        <th class="table-header">報修廠商聯絡人</th>
                        <td id="ftt_formDTO_cp_name">
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">保固期日期</th>
                        <td id="warrantyTime">
                        </td>
                        <th class="table-header">報修廠商聯絡電話</th>
                        <td id="ftt_formDTO_cp_tel">
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="TT_CATEGORY_LABEL">
                            報修品項檢查事項及狀況描述
                        </th>
                    </tr>

                    <tr>
                        <th class="table-header" id="TT_CATEGORY_NOTE_LABEL">報修品項檢查事項</th>
                        <td id="ftt_formDTO_checkitem" colspan="5">
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header" id="TT_CATEGORY_DESC_LABEL">報修品項狀況描述</th>
                        <td id="ftt_formDTO_descr" colspan="5">
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">
                            <span id="REMARK_LABEL1">報修描述與備註</span>
                            <br />
                            <span id="REMARK_LABEL2" style="color: Red;">例如:不冷、漏水、無法啟動等等…</span>
                        </th>
                        <td colspan="5" class="p-1">
                            <textarea class="form-control" rows="3" id="ftt_formDTO_remark" name="ftt_formDTO_remark"></textarea>
                        </td>
                    </tr>

                    <tr bgcolor="#FF80C0">
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="rmTable_Header2">請填寫相關處理資訊,利於後續報修處理,謝謝!</th>
                    </tr>
                    <tr>
                        <td bgcolor="#FFDDEE">前一筆備註說明：</td>
                        <td colspan="5"><label id="preHandleDesc"></label></td>
                    </tr>
                    <tr>
                        <td class="table-header" id="DESCRIPTION_DESC">備註說明：</td>
                        <td colspan="5" class="p-1">
                            <textarea class="form-control" id="DESCRIPTION" name="DESCRIPTION" rows="3" cols="90"></textarea>
                        </td>
                    </tr>

                        <tr id="TicketPanelVisible" style="display:none;">

                        <tr id="SELECTSTATUS_PANEL">
                            <td bgcolor="#FFDDEE" id="SELECTSTATUS_DESC">表單狀態：</td>
                            <td colspan="5">
                                <select id="SELECTSTATUS" name="SELECTSTATUS" class="form-control initSelect2">
                                    <option value="">請選擇...</option>
                                    <option value="COMPLETE">完修</option>
                                    <option value="PENDING">待料</option>
                                    <option value="OFFER">報價</option>
                                    <option value="ASSETER">拒絕</option>
                                    <option value="NOSHOW">不需到場處理</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="COMPLETE_PANEL">
                            <td bgcolor="#FFDDEE" id="COMPLETETIME_DESC">完修日期：</td>
                            <td colspan="5">

                                <div class="input-group date" id="COMPLETETIME_Shell" data-target-input="nearest">
                                    <input id="COMPLETETIME" class="form-control datetimepicker-input" data_target="#COMPLETETIME_Shell " />
                                    <div class="input-group-text" data-target="#COMPLETETIME_Shell" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                                </div>

                            </td>
                        </tr>
                        <tr id="PENDING_PANEL">
                            <td bgcolor="#FFDDEE" id="PRECOMPLETETIME_DESC">預計完成日期：</td>
                            <td colspan="5">

                                <div class="input-group date" id="PRECOMPLETETIME_Shell" data-target-input="nearest">
                                    <input id="PRECOMPLETETIME" class="form-control datetimepicker-input" data_target="#PRECOMPLETETIME_Shell " />
                                    <div class="input-group-text" data-target="#PRECOMPLETETIME_Shell" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                        </tr>

                        <tr id="OFFER_PANEL" style="display:none;"></tr>

                        <tr id="ASSETER_PANEL" style="display:none;">
                        </tr>

                        <tr id="AMOUNT_PANEL" style="display:none;">
                        <td name="ShowAmount" bgcolor="#FFDDEE" style="display:none;">金額彙整欄：</td>
                        <td name="ShowAmount" colspan="5" style="display:none;">
                            <input type="hidden" id="Category_Id" value="" />
                            <input type="hidden" id="Category_Name" value="" />
                                <input type="hidden" id="CATEGORY_NAME_TMP" value="" />
                                <input type="hidden" id="storeType" />

                                    @if (mShowAmount == true)
                                    {
                                    <input type="hidden" id="FORM_ACTION" value="INSERT" />
                                    <input type="hidden" id="AMOUNT_CONFIG" value="@AMOUNT_CONFIG" />
                                    <input type="hidden" id="AJAXScriptManager" />

                                    <table border="1" style="width:100%">
                                        <tr>
                                            <th>費用種類</th>
                                            <th>維修細項</th>
                                            <th>檢測故障原因</th>
                                            <th>維修處理動作</th>
                                            <th>數量</th>
                                            <th>單位</th>
                                            <th>單價</th>
                                            <th>備註</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="form-control initSelect2" id="EXPENSE_TYPE" name="EXPENSE_TYPE">
                                                        @* 要在controller手動撈資料 *@
                                                        @foreach (var item in EXPENSE_TYPE_List)
                                                        {
                                                            if (item.Selected == true)
                                                            {
                                                            <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                            <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                </select>
                                            </td>
                                            <td>
                                                    @if (showEXPENSE_DESC_TEXT == true)
                                                    {
                                                    <input id="EXPENSE_DESC_TEXT" class="form-control input_class" style="width: 150px" />
                                                    }

                                                    @if (showEXPENSE_DESC_SEL == true)
                                                    {
                                                    <select class="form-control initSelect2 select_class" id="EXPENSE_DESC_SEL" name="EXPENSE_DESC_SEL">
                                                            @foreach (var item in EXPENSE_TYPE_List)
                                                            {
                                                                if (item.Selected == true)
                                                                {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                <option value="@item.Value">@item.Text</option>
                                                                }
                                                            }
                                                    </select>
                                                    }
                                            </td>
                                            <td>
                                                <input id="FAULT_REASON" class="form-control " />
                                                    @* <asp:TextBox ID="FAULT_REASON" runat="server"></asp:TextBox> *@
                                            </td>
                                            <td>
                                                <input id="REPAIR_ACTION" class="form-control " />
                                                    @* <asp:TextBox ID="REPAIR_ACTION" runat="server"></asp:TextBox> *@
                                            </td>
                                            <td>
                                                <input id="QTY" min="1" type="number" class="form-control " style="width: 80px" />
                                                    @* <asp:TextBox ID="QTY" runat="server" Width="80px" style="text-align:center;" onChange="if (isNumeric(this.value) == false) { alert('請輸入數字！');this.value=''; };"></asp:TextBox> *@
                                            </td>
                                            <td>
                                                <input id="UNIT" class="form-control " style="width: 80px" />
                                                    @* <asp:TextBox ID="UNIT" runat="server" Width="80px" style="text-align:center;"></asp:TextBox> *@
                                            </td>
                                            <td>
                                                <input id="PRICE" min="1" type="number" class="form-control " style="width: 80px" />
                                                    @* <asp:TextBox ID="PRICE" runat="server" Width="80px" style="text-align:center;" onChange="if (isNumeric(this.value) == false) { alert('請輸入數字！');this.value=''; };"></asp:TextBox> *@
                                            </td>
                                            <td>
                                                <span class="leftInfo">
                                                    <img src="/Images/Icon/view.gif" align="absMiddle" />
                                                    <span class="leftTooltip">
                                                        <label id="COMMENT"></label>
                                                            @* <asp:Label ID="COMMENT" runat="server"></asp:Label> *@
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <button type="button" id="InsertButton" onclick="addItemRow();" class="btn btn-primary">新增一筆</button>
                                                    @* <input type="button" id="InsertButton" value="新增一筆" onclick="addItemRow();" onMouseOver="this.className = 'customButtonHover';" onMouseOut="this.className = 'customButton';" Class="customButton" style="vertical-align:middle;border:none 0px black;" /> *@
                                            </td>
                                        </tr>
                                    </table>

                                    <table width="100%" id="AMOUNT_LIST" style="background-color:#DEDEDE;" border=1>
                                        <tr>
                                            <th> </th>
                                            <th>費用種類</th>
                                            <th>維修細項</th>
                                            <th>檢測故障原因</th>
                                            <th>維修處理動作</th>
                                            <th>數量</th>
                                            <th>單位</th>
                                            <th>單價</th>
                                            <th>小計</th>
                                        </tr>

                                            @foreach (var dto in ftt_form_amountDTOs)
                                            {
                                            <tr id="AMOUNT_TR_" name="TableTR">
                                                <td align="center" style="width:12px;">
                                                        @if (Hide_dele == false)
                                                        {
                                                        <img class="dele" src="/images/delete.bmp" alt="Delete Row" style="cursor:pointer;" onclick="DelAMOUNT(this)" />
                                                        }
                                                </td>
                                                    @* <%--刪除按鈕--%> *@
                                                <td>
                                                        @dto.expense_type
                                                        @* <%#Eval("EXPENSE_TYPE")%> *@
                                                </td>
                                                <td>
                                                        @dto.expense_desc
                                                        @* <%#Eval("EXPENSE_DESC")%> *@
                                                </td>
                                                <td>
                                                        @dto.fault_reason
                                                        @* <%#Eval("FAULT_REASON")%> *@
                                                </td>
                                                <td>
                                                        @dto.repair_action
                                                        @* <%#Eval("REPAIR_ACTION")%> *@
                                                </td>
                                                <td>
                                                        @dto.qty
                                                        @* <%#Eval("QTY")%> *@
                                                    <input type="hidden" name="QTY" id="@Guid.NewGuid().ToString()" />
                                                </td>
                                                <td>
                                                        @dto.unit
                                                        @* <%#Eval("UNIT")%> *@
                                                </td>
                                                <td>
                                                        @dto.price
                                                        @* <%#Eval("PRICE")%> *@
                                                    <input type="hidden" name="PRICE" id="@Guid.NewGuid().ToString()" />
                                                </td>
                                                <td>
                                                        @dto.subtotal
                                                        @* <%#Eval("SUBTOTAL")%> *@
                                                </td>
                                            </tr>
                                            }
                                    </table>
                                    <div style="display:none;">
                                        <button type="button" class="btn btn-primary" id="SubmitFormAddAmount">送出</button>
                                            @* <asp:Button ID="SubmitForm" OnClick="SubmitForm_Click" runat="server" Text="送出" /> *@
                                            @Html.Hidden("AMOUNT_COST", AMOUNT_COST)
                                            @* <asp:HiddenField ID="AMOUNT_COST" runat="server" /> *@
                                    </div>
                                    <table cellpadding="0" cellspacing="0" border=0 width="100%">
                                        <tr height="26">
                                            <td align="center">
                                                <div style="text-align: center;display: inline-flex;">
                                                    <span style="margin-top: 6px;">總計：</span>
                                                    <span id="total" style="">
                                                        <label class="form-control" id="Totals">@Totals</label>
                                                    </span>
                                                    <span style="margin-top: 6px;margin-left: 6px;">元</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                    @* <iframe id="TOTAL_AMOUNT_FRAME" src="AmountForm.aspx?FORM_NO=<%= mTTNo %>&CHECK_DATA=<%=TTStatus %>&TTCategory=<%=TTCategory %>" width="100%" height="300px" frameborder="0"></iframe> *@
                            </td>
                        </tr>

                        </tr>

                    <tr>
                        <td colspan="6" width="100%" align="center">

                            @if (_TicketInfo.TTStatus == "TICKET")
                            {
                                SubmitButton = "";
                                <button id="btnSubmitForm" class="btn btn-primary">送  出</button>
                            }
                            else
                            {
                                <button id="btnSubmitForm" class="btn btn-primary" style="display:none;">送  出</button>
                            }

                            <span id=submitbutton>@(Html.Raw(SubmitButton))</span>
                            <button type="button" onclick="parent.window.close();" class="btn btn-primary">關閉視窗</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<script>
    if (!String.format) {
        String.format = function (format, ...args) {
            return format.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                    ;
            });
        };
    }

    //initModel.Type : 1.新開單  , 2.自行尋商
    function initFormTable(initModel) {
        if (initModel.Type === 1) {
            $("#rmBtn_SelectItems").on("click", function () {
                $("#@(TreeModalId)").modal("show");
            });
            $("#ftt_formDTO_selfconfig").text("N");
        }
        else if (initModel.Type === 2) {
            $("#rmBtn_SelectItems").on("click", function () {
                $("#RMItemListSelfVendorModal").modal("show");
            });
            $("#ftt_formDTO_selfconfig").text("Y");
        }
        else if (initModel.Type === 3) {
            $("#rmBtn_SelectItems").remove();
            $("#rmBtn_Add").remove();
            $("#rmBtn_Create").remove();
            $(".rmClass_DeleteDetail").remove();
            $("#rmTable_Header1").html("");
            $("#rmTable_Header1").append("門市資訊")

            let statusSpan = $("<span class='text-success' style='float:right;background-color: cornsilk;'></span").html("*目前表單狀態: @STATUS_NAME")
            $("#rmTable_Header1").append(statusSpan);
        }
    }

    function DelAMOUNT(obj) {
        try {
            var thisTR = $(obj).parents('[name="TableTR"]');
            var delPrice = $(thisTR).find('[name="PRICE"]').val();
            var delQty = $(thisTR).find('[name="QTY"]').val();

            var tmpTotal = parseInt(delQty) * parseInt(delPrice);

            calSubTotal('Del', tmpTotal);

            $('#AMOUNT_MAX_IDX').val(parseInt($('#AMOUNT_MAX_IDX').val()) - 1);

            $(thisTR).remove();
        }
        catch (ex) {
            alert(ex.message);
        }
    }

    function calSubTotal(type, obj) {
        var cost1 = parseInt(obj);
        var cost2 = parseInt($('#AMOUNT_COST').val());

        var total_cost;

        if (type == 'Add') {
            total_cost = parseInt(cost1) + parseInt(cost2);
        }
        else if (type == 'Del') {
            total_cost = parseInt(cost2) - parseInt(cost1);
        }

        $('#AMOUNT_COST').val(total_cost);
        $('#Totals').val(total_cost).text(total_cost);
    }


    function addItemRow() {
        if (checkAddItem() == false)
            return false;
        else {
            try {
                var index = parseInt($('#AMOUNT_MAX_IDX').val()) + 1;
                var addRow = String.format('<tr id="AMOUNT_TR_{0}" name="TableTR">', index);

                addRow += String.format('<td><img src="/images/delete.bmp" alt="\Delete Row\" style="cursor:pointer;" onclick="DelAMOUNT(this)" /></td>', index); //刪除按鈕
                addRow += String.format('<td>{0}', $('#EXPENSE_TYPE :selected').text()); //費用種類
                addRow += String.format('<input type="hidden" id="EXPENSE_TYPE_{0}" name="EXPENSE_TYPE" value="{1}" /></td>', index, $('#EXPENSE_TYPE').val());

                if ($('#AMOUNT_CONFIG').val() == "Y") {
                    addRow += String.format('<td>{0}', $('#EXPENSE_DESC_SEL :selected').text()); //維修細項
                    addRow += String.format('<input type="hidden" id="EXPENSE_DESC_{0}" name="EXPENSE_DESC" value="{1}" /></td>', index, $('#EXPENSE_DESC_SEL :selected').text());
                }
                else {
                    addRow += String.format('<td>{0}', $('#EXPENSE_DESC_TEXT').val()); //維修細項
                    addRow += String.format('<input type="hidden" id="EXPENSE_DESC_{0}" name="EXPENSE_DESC" value="{1}" /></td>', index, $('#EXPENSE_DESC_TEXT').val());
                }

                addRow += String.format('<td>{0}', $('#FAULT_REASON').val()); //檢測故障原因
                addRow += String.format('<input type="hidden" id="FAULT_REASON_{0}" name="FAULT_REASON" value="{1}" /></td>', index, $('#FAULT_REASON').val());
                addRow += String.format('<td>{0}', $('#REPAIR_ACTION').val()); //維修處理動作
                addRow += String.format('<input type="hidden" id="REPAIR_ACTION_{0}" name="REPAIR_ACTION" value="{1}" /></td>', index, $('#REPAIR_ACTION').val());
                addRow += String.format('<td>{0}', $('#QTY').val()); //數量
                addRow += String.format('<input type="hidden" id="QTY_{0}" name="QTY" value="{1}" /></td>', index, $('#QTY').val());
                addRow += String.format('<td>{0}', $('#UNIT').val()); //單位
                addRow += String.format('<input type="hidden" id="UNIT_{0}" name="UNIT" value="{1}" /></td>', index, $('#UNIT').val());
                addRow += String.format('<td>{0}', $('#PRICE').val()); //單價
                addRow += String.format('<input type="hidden" id="PRICE_{0}" name="PRICE" value="{1}" /></td>', index, $('#PRICE').val());

                var tmpTotal = parseInt($('#QTY').val()) * parseInt($('#PRICE').val());

                calSubTotal('Add', tmpTotal);

                tmpTotal = "$" + tmpTotal + ".-";

                addRow += String.format('<td>{0}', tmpTotal); //小計
                addRow += String.format('<input type="hidden" id="SUBTOTAL_{0}" name="SUBTOTAL" value="{1}" /></td>', index, tmpTotal);

                $('#AMOUNT_MAX_IDX').val(index);

                $('#AMOUNT_LIST').append(addRow);
            }
            catch (ex) {
                alert(ex.message);
            }
        }
    }

    function checkAddItem() {
        if ($('#EXPENSE_TYPE').val() == "") {
            alert("請選擇【費用種類】！");
            return false;
        }
        else if (($('#EXPENSE_DESC_SEL').val() == "" || $('#EXPENSE_DESC_SEL').val() == "請選擇...") && $('#AMOUNT_CONFIG').val() == "Y") {
            alert("請選擇【維修細項】！");
            return false;
        }
        else if ($('#EXPENSE_DESC_TEXT').val() == "" && $('#AMOUNT_CONFIG').val() == "N") {
            alert("請選擇【維修細項】！");
            return false;
        }
        else if ($('#QTY').val() == "") {
            alert("請選擇【數量】！");
            return false;
        }
        else if ($('#UNIT').val() == "") {
            alert("請選擇【單位】！");
            return false;
        }
        else if ($('#PRICE').val() == "") {
            alert("請選擇【單價】！");
            return false;
        }
        else
            return true;
    }



    function SetControlEmpty() {
        $('#EXPENSE_DESC_TEXT').val("");
        $('#EXPENSE_DESC_SEL').val("");
        $('#FAULT_REASON').val("");
        $('#REPAIR_ACTION').val("");
        $('#QTY').val("");
        $('#UNIT').val("");
        $('#PRICE').val("");
        $('#COMMENT').text("");
    }

    function setConfigSettingList(ConfigSetting) {
        $('#FAULT_REASON').val("");
        $('#REPAIR_ACTION').val("");
        $('#QTY').val(ConfigSetting.QTY);
        $('#UNIT').val(ConfigSetting.UNIT);
        $('#PRICE').val(ConfigSetting.PRICE);
        $('#COMMENT').val(ConfigSetting.REMARK).text(ConfigSetting.REMARK);
    }

    $(document).on("CategorySelected", function (event, data) {
        $("#rmBtn_SelectItems").text(data.selectedItemText);
    });




    $(function () {
        //initSelect2
        $(".initSelect2").select2({
            placeholder: "請選擇",
            allowClear: true
        });

        $('#COMPLETETIME_Shell').datetimepicker({
            format: 'YYYY/MM/DD',
        });

        $('#PRECOMPLETETIME_Shell').datetimepicker({
            format: 'YYYY/MM/DD',
        });

        $("#tt_category").on("change", function (e) {
            if ($('#tt_category').val() == "緊急(補單)")
                alert("【除緊急故障發生，且已電話聯繫，廠商已到場處理者；否則請以「一般」報修處理】");
        });

        $("#SELECTSTATUS").on("change", function (e) {
            $('#COMPLETE_PANEL').hide();
            $('#PENDING_PANEL').hide();
            $('#OFFER_PANEL').hide();
            $('#ASSETER_PANEL').hide();
            $('#AMOUNT_PANEL').hide();

            if ($('#SELECTSTATUS').val() != "") {
                $('#STATUSWORDING').val($('#SELECTSTATUS').select2('data'));
                $('#STATUS').val($('#SELECTSTATUS').val());
                $('#TICKET_INFO').val($('#SELECTSTATUS').val());

                $('#DESCRIPTION').removeAttr('required', '')
                $('#SELECTSTATUS').removeAttr('required', '')
                $('#COMPLETETIME').removeAttr('required', '')
                $('#PRECOMPLETETIME').removeAttr('required', '')
                $('#PRICE').removeAttr('required', '')
                $('#QTY').removeAttr('required', '')
                $('#PRECOMPLETETIME').removeAttr('required', '')

                var RequireField = '';
                switch ($('#SELECTSTATUS').val()) {
                    case "COMPLETE":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#COMPLETETIME').attr('required', '')

                        $('#COMPLETE_PANEL').show();
                        $('#AMOUNT_PANEL').show();

                        iFrameIsSubmit = false;
                        break;
                    case "PENDING":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRECOMPLETETIME').attr('required', '')
                        $('#PENDING_PANEL').show();
                        iFrameIsSubmit = true;
                        break;
                    case "OFFER":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRICE').attr('required', '')
                        $('#QTY').attr('required', '')
                        //document.all.OFFER_PANEL.style.display = "";
                        $('#AMOUNT_PANEL').show();
                        //iFrameIsSubmit = true;
                        iFrameIsSubmit = false;
                        break;

                    case "ASSETER":
                        $('#ASSETER_PANEL').show();
                        //document.all.AMOUNT_PANEL.style.display = "";
                        iFrameIsSubmit = false;
                        break;

                    case "NOSHOW":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRECOMPLETETIME').attr('required', '')
                        $('#PENDING_PANEL').show();
                        iFrameIsSubmit = true;
                        break;

                    default:
                        break;
                }
            }
            // setRequireField(RequireField);
            document.all.COMPLETETIME.readOnly = true;
            //document.all.VENDOR_ARRIVE_DATE.readOnly = true;
        })

        if ($('#IVRCode').val().length >= 7) {
            submitbutton.innerHTML = submitbutton.innerHTML.replace("<INPUT class=customButton style=\"BORDER-RIGHT: black 0px; BORDER-TOP: black 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: black 0px; BORDER-BOTTOM: black 0px\" onclick=\"document.all.STATUSWORDING.value=this.value;RequireField='';document.all.FORM_TYPE.value='FTT_FORM';document.all.STATUS.value='CLOSE';\" onmouseout=\"this.className = 'customButton';\" type=button value=自行尋商>", "");
        }

        if ('@(Model.ftt_formDTO_category_id)' == '1275') {
            document.all.TT_CATEGORY_LABEL.innerHTML = "報修前確認事項及損壞狀況描述：";
            document.all.TT_CATEGORY_NOTE_LABEL.innerHTML = "報修前檢查事項：";
            document.all.TT_CATEGORY_DESC_LABEL.innerHTML = "報修機台編號：";
            document.all.REMARK_LABEL1.innerHTML = "報修問題描述：";
            $('#REMARK_LABEL2').show();
        }
        else {
            document.all.TT_CATEGORY_LABEL.innerHTML = "報修品項檢查事項及狀況描述：";
            document.all.TT_CATEGORY_NOTE_LABEL.innerHTML = "報修品項檢查事項：";
            document.all.TT_CATEGORY_DESC_LABEL.innerHTML = "報修品項狀況描述：";
            document.all.REMARK_LABEL1.innerHTML = "報修描述與備註：";
            $('#REMARK_LABEL2').hide();
        }

        $('#EXPENSE_DESC_SEL').select2({
            placeholder: {
                id: '',
                text: '請選擇',
                selected: 'selected'
            },
            ajax: {
                url: '@Url.Action("SelectDesc")',
                dataType: 'json',
                type: 'POST',
                delay: 200,
                data: function (params) {
                    var selectedTypeName = $('#EXPENSE_TYPE').val();
                    var categoryID = $('#Category_Id').val();

                    var query = {
                        categoryID: categoryID,
                        ExpenseType: selectedTypeName,
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, (item) => {
                            return {
                                text: item.Text,
                                id: item.Value
                            }
                        })
                    };
                },
            },
        });

        $("#EXPENSE_DESC_SEL").on("change", function (e) {
            var selectedID = $('#EXPENSE_DESC_SEL :selected').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowDesc")',
                data: function (params) {
                    var selectId = $('#EXPENSE_DESC_SEL').val();
                    var query = {
                        Id: selectId,
                    }
                    return query;
                },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function () {
                        setConfigSettingList(this);
                    });
                },
                error: function (msg) {

                }
            });
        });

        $('#SubmitFormAddAmount').on("click", function (e) {
            var vm = {};
            var vms = [];
            vm.form_no = '@FORM_NO';
            vm.FORM_ACTION = $('#FORM_ACTION').val();

            for (var i = 0; i < $('[name="TableTR"]').length; i++) {
                var item = {};
                item.form_no = '@FORM_NO';
                item.expense_type = $('[name="TableTR"]').eq(i).find('[name="EXPENSE_TYPE"]').val();
                item.expense_desc = $('[name="TableTR"]').eq(i).find('[name="EXPENSE_DESC"]').val();
                item.fault_reason = $('[name="TableTR"]').eq(i).find('[name="FAULT_REASON"]').val();
                item.repair_action = $('[name="TableTR"]').eq(i).find('[name="REPAIR_ACTION"]').val();
                item.qty = $('[name="TableTR"]').eq(i).find('[name="QTY"]').val();
                item.unit = $('[name="TableTR"]').eq(i).find('[name="UNIT"]').val();
                item.price = $('[name="TableTR"]').eq(i).find('[name="PRICE"]').val();
                item.subtotal = $('[name="TableTR"]').eq(i).find('[name="SUBTOTAL"]').val();
                item.orderid = i + 1;
                vms.push(item);
            }

            vm.vms = vms;

            $.ajax({
                url: '@Url.Action("Add_FTT_FORM_AMOUNT")',
                dataType: 'json',
                type: 'POST',
                data: { vm: vm },
                success: function (data) {
                    if (data.Success == true) {
                        alert(data.Data);
                    } else {
                        alert(data.Data);
                    }
                },
                error: function (msg) {
                    alert("新增異常！");
                }
            });
        })

        $("#submitForm").submit(function (e) {
            e.preventDefault();
            showLoader();

            if ($(this).is(':invalid')) {
                hideLoader();
            }
            else {
                var vm = {};

                vm.updateCOMPLETETIME = $("#COMPLETE_PANEL").is(":hidden");
                vm.updatePRECOMPLETETIME = $("#PENDING_PANEL").is(":hidden");
                vm.form_no = $('#FORM_NO').val();
                vm.ticket_info = $('#TICKET_INFO').val();
                vm.completetime = $('#COMPLETETIME').val();
                vm.precompletetime = $('#PRECOMPLETETIME').val();
                vm.selfconfig = $('#SELFCONFIG').val();
                vm.remark = $('#ftt_formDTO_remark').val();

                $.ajax({
                    url: '@Url.Action("Detail")',
                    dataType: 'json',
                    type: 'POST',
                    data: { vm: vm },
                    success: function (data) {
                        hideLoader();

                        if (data.Success == true) {
                            alert(data.Data);
                        } else {
                            alert(data.Data);
                        }
                    },
                    error: function (msg) {
                        hideLoader();

                        alert("新增異常！");
                    }
                });
            }
        });

        $('#submitbutton').find('input').addClass('btn btn-primary');
        $('#submitbutton').find('input').removeAttr('style');
         

    @(Html.Raw(mRunScriptStoreInfo))
            if (document.all.IVRCode.value.length > 4)
            document.all.storeType.value = "FRANCHISE";
        else
            document.all.storeType.value = "RETAIL";
    });
</script>
