@{
    ViewData["EventName"] = "CategorySelected";

    string TreeModalId = Guid.NewGuid().ToString();
    ViewData["TreeModalId"] = TreeModalId;

    var form_no = ViewData["form_no"];
    List<SelectListItem> SelectListTtCategory = new()
{
        new SelectListItem("一般","一般"),
        new SelectListItem("緊急(新開單)","緊急(新開單)"),
        new SelectListItem("緊急(補單)","緊急(補單)"),
    };
}

<style>
    .table-header {
        background-color: #e9e9e9 !important;
    }
</style>

<form id="form1" name="form1" class="needs-validation" novalidate="" method="post">
    <input type=hidden name="FORM_NO" id="FORM_NO" value="@form_no" />
    <input type=hidden name="User_Type" id="User_Type" value="" />
    <input type=hidden name="STATUS_DESC" id="STATUS_DESC" value="" />
    <input type=hidden name="FORM" id="FORM" value="" />
    <input type=hidden name="STATUSWORDING" id="STATUSWORDING" value="" />
    <input type=hidden name="FORM_TYPE" id="FORM_TYPE" value="" />
    <input type=hidden name="STATUS" id="STATUS" value="" />
    <input type=hidden name="ACTION_NAME" id="ACTION_NAME" value="" />

    <input type="hidden" id="TICKET_INFO" name="TICKET_INFO" value="" />

    <input type="hidden" id="CATEGORY_ID" name="CATEGORY_ID" value="" />
    <input type="hidden" id="CATEGORY_NAME" name="CATEGORY_NAME" value="" />
    <input type="hidden" id="CATEGORY_NAME_TMP" name="CATEGORY_NAME_TMP" value="" />
    <input type="hidden" id="storeType" />


    <input type="hidden" id="STORE_TYPE" value="" />
    <input type="hidden" id="IVRCODE" name="IVRCODE" value="" />

    <input type="hidden" id="SELFCONFIG" name="SELFCONFIG" value="N" />
    <input type="hidden" id="VENDER_ID" name="VENDER_ID" value="" />

    <input type="hidden" id="FORM_ACTION" name="FORM_ACTION" value="INSERT" />
    <input type="hidden" id="AMOUNT_CONFIG" name="AMOUNT_CONFIG" value="" />

    <div>
        <div class="table-responsive  bg-white" style="overflow-y: hidden;">
            <table class="table table-bordered align-middle" style="table-layout: fixed;">
                <tbody>
                    <tr>
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="rmTable_Header1">
                            請填寫相關資料，以利後續報修處理 !
                        </th>
                    </tr>
                    <tr>
                        <th class="table-header ">公司別</th>
                        <td id="StoreClass_Company"></td>
                        <th class="table-header ">店格</th>
                        <td id="StoreClass_StoreType"></td>
                        <th class="table-header">IVR Code</th>
                        <td id="StoreClass_IVRCode"></td>
                    </tr>
                    <tr>
                        <th class="table-header">通路</th>
                        <td id="StoreClass_Channel"></td>
                        <th class="table-header">區域</th>
                        <td id="StoreClass_Area"></td>
                        <th class="table-header">店名</th>
                        <td id="StoreClass_StoreName"></td>
                    </tr>
                    <tr>
                        <th class="table-header">eMails</th>
                        <td id="StoreClass_eMail"></td>
                        <th class="table-header">店長/聯絡人</th>
                        <td id="StoreClass_Owner"></td>
                        <th class="table-header">緊急電話</th>
                        <td id="StoreClass_PhoneUrgent"></td>
                    </tr>
                    <tr>
                        <th class="table-header">區經理 / 業務</th>
                        <td id="StoreClass_Manager"></td>
                        <th class="table-header">店長電話</th>
                        <td id="StoreClass_Phone"></td>
                        <th rowspan="4" class="table-header">營業時間</th>
                        <td rowspan="4" style="word-wrap: break-word;">
                            <table width="100%" height="80" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="">週一~五</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime1"></td>
                                </tr>
                                <tr>
                                    <td style="">星期六</td>
                                    <td style=""> :</td>
                                    <td id="StoreClass_BusinessTime2"></td>
                                </tr>
                                <tr>
                                    <td style="">星期日</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime3"></td>
                                </tr>
                                <tr>
                                    <td style="">國定假日</td>
                                    <td style="">:</td>
                                    <td id="StoreClass_BusinessTime4"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-header">裝潢型態</th>
                        <td id="StoreClass_DecorationCondition"></td>
                        <th class="table-header">傳真電話</th>
                        <td id="StoreClass_PhoneFax"></td>
                    </tr>
                    <tr>
                        <th class="table-header">地址</th>
                        <td id="StoreClass_Address"></td>
                    </tr>
                    <tr>
                        <th class="table-header">備註</th>
                        <td id="StoreClass_Note"></td>
                    </tr>

                    <tr>
                        <th class="table-header">開單者</th>
                        <td id="EMPNAME">
                        </td>
                        <th class="table-header">開單者連絡電話</th>
                        <td id="EMPTEL">
                        </td>
                        <th class="table-header">報修型態</th>
                        <td>
                            <select id="TT_CATEGORY" name="TT_CATEGORY" asp-items="@(new SelectList(SelectListTtCategory, nameof(SelectListItem.Value), nameof(SelectListItem.Text)))" class="form-select initSelect2">
                                <option></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">報修品項</th>
                        <td colspan="2" id="CIDesc">
                        </td>
                        <th colspan="3"></th>
                    </tr>

                    <tr>
                        <th class="table-header">一個月內覆修</th>
                        <td>
                            <div class="d-flex gap-4 justify-content-center align-items-center">
                                <label role="button">
                                    <input type="radio" name="Repair" value="Y" /> 是
                                </label>
                                <label role="button">
                                    <input type="radio" name="Repair" value="N" /> 否
                                </label>
                            </div>
                        </td>

                        <th class="table-header">補單</th>
                        <td>
                            <div class="d-flex gap-4 justify-content-center align-items-center">
                                <label>
                                    <input type="radio" name="Resupply" value="Y" /> 是
                                </label>
                                <label>
                                    <input type="radio" name="Resupply" value="N" /> 否
                                </label>
                            </div>
                        </td>
                        <td colspan="2"></td>
                        @*廠商無顯示*@
                        @*<th class="table-header">門市自行尋商</th>
                            <td id="SELFCONFIG_NOTE">
                                N
                            </td>*@
                    </tr>

                    <tr>
                        <th class="table-header">報修日期</th>
                        <td id="CREATE_TIME">
                        </td>
                        <th class="table-header" rowspan="3">報修品項圖樣</th>
                        <td rowspan="3">
                        </td>
                        <th class="table-header">報修廠商</th>
                        <td id="VENDER_NAME">
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">驗收日</th>
                        <td id="ApprovalDate">
                        </td>
                        <th class="table-header">報修廠商聯絡人</th>
                        <td id="CP_NAME">
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">保固期日期</th>
                        <td id="WarrantyTime">
                        </td>
                        <th class="table-header">報修廠商聯絡電話</th>
                        <td id="CP_TEL">
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="TT_CATEGORY_LABEL">
                            報修品項檢查事項及狀況描述
                        </th>
                    </tr>

                    <tr>
                        <th class="table-header" id="TT_CATEGORY_NOTE_LABEL">報修品項檢查事項</th>
                        <td colspan="5">
                            <span id="TT_CATEGORY_NOTE_PANNEL"></span>&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header" id="TT_CATEGORY_DESC_LABEL">報修品項狀況描述</th>
                        <td colspan="5">
                            <label>
                                <span id="TT_CATEGORY_DESC_PANNEL"></span>&nbsp;
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <th class="table-header">
                            <span id="REMARK_LABEL1">報修描述與備註</span>
                            <br />
                            <span id="REMARK_LABEL2" style="color: Red;">例如:不冷、漏水、無法啟動等等…</span>
                        </th>
                        <td colspan="5" class="p-1">
                            <textarea class="form-control" rows="3" id="REMARK" name="REMARK"></textarea>
                        </td>
                    </tr>

                    <tr bgcolor="#FF80C0">
                        <th colspan="6" class="table-header text-primary fs-6 ps-3 rmTable_Header" id="rmTable_Header2">請填寫相關處理資訊,利於後續報修處理,謝謝!</th>
                    </tr>
                    <tr>
                        <td bgcolor="#FFDDEE">前一筆備註說明：</td>
                        <td colspan="5"><label id="PreHandleDesc"></label></td>
                    </tr>
                    <tr>
                        <td class="table-header" id="DESCRIPTION_DESC">備註說明：</td>
                        <td colspan="5" class="p-1">
                            <textarea class="form-control" id="DESCRIPTION" name="DESCRIPTION" rows="3" cols="90"></textarea>
                            <div class="invalid-feedback">請輸入備註說明</div>
                        </td>
                    </tr>

                    <tr id="SELECTSTATUS_PANEL" style="display:none;">
                        <td bgcolor="#FFDDEE" id="SELECTSTATUS_DESC">表單狀態：</td>
                        <td colspan="5">
                            <div class="w-200p">
                                <select id="SELECTSTATUS" name="SELECTSTATUS" class="form-control initSelect2">
                                    <option value="">請選擇...</option>
                                    <option value="COMPLETE">完修</option>
                                    <option value="PENDING">待料</option>
                                    <option value="OFFER">報價</option>
                                    <option value="ASSETER">拒絕</option>
                                    <option value="NOSHOW">不需到場處理</option>
                                </select>
                                <div class="invalid-feedback">請輸入表單狀態</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="VENDOR_ARRIVE_DATE_PANEL" style="display:none;">
                        <td bgcolor="#FFDDEE" id="VENDOR_ARRIVE_DATE_DESC">到場日期：</td>
                        <td colspan="5">
                            <div class="input-group date" id="VENDOR_ARRIVE_DATEShell" data-target-input="nearest" style=" max-width: 200px;">
                                <input id="VENDOR_ARRIVE_DATE" name="VENDOR_ARRIVE_DATE" class="form-control datetimepicker-input" data-target="#VENDOR_ARRIVE_DATEShell " />
                                <div class="input-group-text" data-target="#VENDOR_ARRIVE_DATEShell" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                                <div class="invalid-feedback">請輸入到場日期</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="COMPLETE_PANEL" style="display:none;">
                        <td bgcolor="#FFDDEE" id="COMPLETETIME_DESC">完修日期：</td>
                        <td colspan="5">
                            <div class="input-group date" id="COMPLETETIME_Shell" data-target-input="nearest" style=" max-width: 200px;">
                                <input id="COMPLETE_DATE" name="COMPLETETIME" class="form-control datetimepicker-input" data-target="#COMPLETETIME_Shell " />
                                <div class="input-group-text" data-target="#COMPLETETIME_Shell" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                                <div class="invalid-feedback">請輸入完修日期</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="PENDING_PANEL" style="display:none;">
                        <td bgcolor="#FFDDEE" id="PRECOMPLETETIME_DESC">預計完成日期：</td>
                        <td colspan="5">
                            <div class="input-group date" id="PRECOMPLETETIME_Shell" data-target-input="nearest" style=" max-width: 200px;">
                                <input id="PRECOMPLETETIME" name="PRECOMPLETETIME" class="form-control datetimepicker-input" data-target="#PRECOMPLETETIME_Shell " />
                                <div class="input-group-text" data-target="#PRECOMPLETETIME_Shell" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                                <div class="invalid-feedback">請輸入預計完成日期</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="DELAY_REASON_PANEL">
                        <td bgcolor="#FFDDEE" id="TicketInfo_DELAY_REASON_DESC">延遲原因：</td>
                        <td colspan="5">
                            <div class="w-200p">
                                <select class="form-control initSelect2" id="DELAY_REASON" name="DELAY_REASON">
                                </select>
                                <div class="invalid-feedback">請輸入延遲原因</div>
                            </div>
                        </td>
                    </tr>

                    <tr id="OFFER_PANEL" style="display:none;">
                    </tr>

                    <tr id="ASSETER_PANEL" style="display:none;">
                    </tr>

                    <tr id="AMOUNT_PANEL" style="display:none;">
                        <td bgcolor="#FFDDEE">金額彙整欄：</td>
                        <td colspan="5">
                            @*原使用 table 呈現但會跑版，改為表單顯示*@
                            <div id="NewData" class="row gy-2 row-cols-1 row-cols-md-2 row-cols-lg-3 mb-2">
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">費用種類</label>
                                    <select class="form-select initSelect2" id="EXPENSE_TYPE" name="EXPENSE_TYPE">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">維修細項</label>
                                    <input id="EXPENSE_DESC_TEXT" name="EXPENSE_DESC_TEXT" class="form-control input_class" />
                                    <select class="form-select initSelect2 select_class" id="EXPENSE_DESC_SEL" name="EXPENSE_DESC_SEL">
                                    </select>
                                </div>
                                <div class="col d-md-none d-lg-block"></div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">檢測故障原因</label>
                                    <input id="FAULT_REASON" class="form-control " />
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">維修處理動作</label>
                                    <input id="REPAIR_ACTION" class="form-control " />
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">備註</label>
                                    <label id="COMMENT" class="col-form-label websoft-form-label d-block"></label>
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">數量</label>
                                    <input id="QTY" min="1" type="number" class="form-control " style="width: 80px" />
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">單位</label>
                                    <input id="UNIT" class="form-control " style="width: 80px" />
                                </div>
                                <div class="col">
                                    <label class="col-form-label websoft-form-label pt-2">單價</label>
                                    <input id="PRICE" min="1" type="number" class="form-control " style="width: 80px" />
                                </div>
                            </div>
                            <div class="d-flex gap-2 mb-2">
                                <button type="button" id="InsertButton" onclick="addItemRow(null,false);" class="btn btn-primary" style="width: 115px;">新增一筆</button>
                                <input id="AMOUNT_MAX_IDX" type="hidden" value="-1" />
                            </div>
                            <table width="100%" id="AMOUNT_LIST" style="background-color:#DEDEDE;" border=1>
                                <tr>
                                    <th> </th>
                                    <th>費用種類</th>
                                    <th>維修細項</th>
                                    <th>檢測故障原因</th>
                                    <th>維修處理動作</th>
                                    <th>數量</th>
                                    <th>單位</th>
                                    <th>單價</th>
                                    <th>小計</th>
                                </tr>
                            </table>
                            <div style="display:none;">
                                <button type="button" class="btn btn-primary" id="SubmitFormAddAmount">送出</button>
                                <input type="hidden" id="AMOUNT_COST" />
                            </div>

                            <table cellpadding="0" cellspacing="0" border=0 width="100%">
                                <tr height="26">
                                    <td align="center">
                                        <div style="text-align: center;display: inline-flex;">
                                            <span style="margin-top: 6px;">總計：</span>
                                            <span id="total" style="">
                                                <label class="form-control" id="Totals">0</label>
                                            </span>
                                            <span style="margin-top: 6px;margin-left: 6px;">元</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="6" width="100%" align="center">
                            @* ////TODO 補上送出 *@
                            <button id="SubmitForm" type="submit" class="btn btn-primary" onclick="CheckFormInTicket(event)" style="display:none;">送出</button>

                            <span id=submitbutton>
                                <input id="btnSubmit" type="submit" value="" class="btn btn-primary" />
                                @* @(Html.Raw(SubmitButton)) *@
                            </span>
                            <button type="button" onclick="parent.window.close();" class="btn btn-primary">關閉視窗</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
@* <partial name="Form/_RMItemListSelfVendor" view-data='new ViewDataDictionary(ViewData)' />
    <partial name="Form/_RMItemTree" view-data='new ViewDataDictionary(ViewData)' /> *@

<script>
    if (!String.format) {
        String.format = function (format, ...args) {
            return format.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                    ;
            });
        };
    }

    var context = context || {};
    context.KpiDays = 0;

    var iFrameIsSubmit = false;
    //initModel.Type : 1.新開單  , 2.自行尋商
    function initFormTable(initModel) {
        if (initModel.Type === 1) {
            $("#rmBtn_SelectItems").on("click", function () {
                $("#@(TreeModalId)").modal("show");
            });
            $("#SelfFindBussiness").text("N");
        }
        else if (initModel.Type === 2) {
            $("#rmBtn_SelectItems").on("click", function () {
                $("#RMItemListSelfVendorModal").modal("show");
            });
            $("#SelfFindBussiness").text("Y");
        }
        else if (initModel.Type === 3) {
            $("#rmBtn_SelectItems").remove();
            $("#rmBtn_Add").remove();
            $("#rmBtn_Create").remove();
            $(".rmClass_DeleteDetail").remove();
            $("#rmTable_Header1").html("");
            $("#rmTable_Header1").append("門市資訊")

            let statusSpan = $("<span id='APPROVE_FORM_STATUS_DESC' class='text-success' style='float:right;background-color: cornsilk;'></span").html("*目前表單狀態: 審單中")
            $("#rmTable_Header1").append(statusSpan);
        }
    }

    $(document).on("CategorySelected", function (event, data) {
        $("#rmBtn_SelectItems").text(data.selectedItemText);
    });

    $(function () {
        $(".initSelect2").select2({
            allowClear: true
        });

        $('#VENDOR_ARRIVE_DATEShell').datetimepicker({
            format: 'YYYY/MM/DD',
        });

        $('#COMPLETETIME_Shell').datetimepicker({
            format: 'YYYY/MM/DD',
        });
        $('#COMPLETETIME_Shell').on('change.datetimepicker', function (e) {
            let $this = $(e.currentTarget);
            let val = $this.datetimepicker('date');

            checkKPI(val);
        });

        $('#PRECOMPLETETIME_Shell').datetimepicker({
            format: 'YYYY/MM/DD',
        });
        $('#PRECOMPLETETIME_Shell').on('change.datetimepicker', function (e) {
            let $this = $(e.currentTarget);
            let val = $this.datetimepicker('date');

            checkKPI(val);
        });


        //$("#TT_CATEGORY").on("change", function (e) {
        //    if ($('#TT_CATEGORY').val() == "緊急(補單)")
        //        alert("【除緊急故障發生，且已電話聯繫，廠商已到場處理者；否則請以「一般」報修處理】");
        //});

        $("#SELECTSTATUS").on("change", function (e) {
            $('#COMPLETE_PANEL').hide();
            $('#VENDOR_ARRIVE_DATE_PANEL').hide();
            $('#PENDING_PANEL').hide();
            $('#OFFER_PANEL').hide();
            $('#ASSETER_PANEL').hide();
            $('#AMOUNT_PANEL').hide();

            if ($('#SELECTSTATUS').val() != "") {
                $('#STATUSWORDING').val($('#SELECTSTATUS').select2('data'));
                $('#STATUS').val($('#SELECTSTATUS').val());
                $('#TICKET_INFO').val($('#SELECTSTATUS').val());

                $('#DESCRIPTION').removeAttr('required', '');
                $('#SELECTSTATUS').removeAttr('required', '');
                $('#COMPLETETIME').removeAttr('required', '');
                $('#PRECOMPLETETIME').removeAttr('required', '');
                $('#PRICE').removeAttr('required', '');
                $('#QTY').removeAttr('required', '');
                $('#PRECOMPLETETIME').removeAttr('required', '');
                $('#VENDOR_ARRIVE_DATE').removeAttr('required');

                updateCOMPLETETIME = false;
                updatePRECOMPLETETIME = false;

                var RequireField = '';
                switch ($('#SELECTSTATUS').val()) {
                    case "COMPLETE":
                        $('#DESCRIPTION').attr('required', '');
                        $('#SELECTSTATUS').attr('required', '');
                        $('#COMPLETETIME').attr('required', '');
                        $('#VENDOR_ARRIVE_DATE').attr('required', '');

                        updateCOMPLETETIME = true;

                        $('#COMPLETE_PANEL').show();
                        $('#VENDOR_ARRIVE_DATE_PANEL').show();
                        $('#AMOUNT_PANEL').show();

                        iFrameIsSubmit = false;
                        break;
                    case "PENDING":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRECOMPLETETIME').attr('required', '')
                        $('#PENDING_PANEL').show();

                        updatePRECOMPLETETIME = true;

                        iFrameIsSubmit = true;
                        break;
                    case "OFFER":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRICE').attr('required', '')
                        $('#QTY').attr('required', '')
                        $('#AMOUNT_PANEL').show();
                        $('#PENDING_PANEL').show();
                        iFrameIsSubmit = false;
                        break;

                    case "ASSETER":
                        $('#ASSETER_PANEL').show();
                        iFrameIsSubmit = false;
                        break;

                    case "NOSHOW":
                        $('#DESCRIPTION').attr('required', '')
                        $('#SELECTSTATUS').attr('required', '')
                        $('#PRECOMPLETETIME').attr('required', '')
                        $('#PENDING_PANEL').show();

                        updatePRECOMPLETETIME = true;

                        iFrameIsSubmit = true;
                        break;

                    default:
                        break;
                }
            }
        })

        $('#EXPENSE_DESC_SEL').select2({
            placeholder: {
                id: '',
                text: '請選擇',
                selected: 'selected'
            },
            ajax: {
                url: '@(config.GetBackendUrl() + Url.Action("SelectDesc", "Pending"))',
                dataType: 'json',
                type: 'POST',
                delay: 200,
                data: function (params) {
                    var selectedTypeName = $('#EXPENSE_TYPE').val();
                    var categoryID = $('#CATEGORY_ID').val();

                    var query = {
                        categoryID: categoryID,
                        ExpenseType: selectedTypeName,
                    }
                    return query;
                },
                processResults: function (data) {
                    SetControlEmpty();

                    return {
                        results: $.map(data, (item) => {
                            return {
                                text: item.Text,
                                id: item.Value
                            }
                        })
                    };
                },
            },
        });

        $("#EXPENSE_DESC_SEL").on("change", function (e) {
            var selectedID = $('#EXPENSE_DESC_SEL :selected').val();

            $.ajax({
                type: 'POST',
                url: '@(config.GetBackendUrl() + Url.Action("ShowDesc", "Pending"))',
                data: {
                    ID: selectedID,
                },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function () {
                        setConfigSettingList(this);
                    });
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        });

        $('#SubmitFormAddAmount').on("click", function (e) {
            var vm = {};
            var vms = [];
            var formNo = $('#FORM_NO').val();
            vm.form_no = formNo;
            vm.FORM_ACTION = $('#FORM_ACTION').val();

            if (!$('[name="TableTR"]').length) {
                MyApp.Alert.warning('請至少填寫一筆金額!');
                return;
            }

            for (var i = 0; i < $('[name="TableTR"]').length; i++) {
                var item = {};
                item.form_no = formNo;
                item.expense_type = $('[name="TableTR"]').eq(i).find('[name="EXPENSE_TYPE"]').val();
                item.expense_desc = $('[name="TableTR"]').eq(i).find('[name="EXPENSE_DESC"]').val();
                item.fault_reason = $('[name="TableTR"]').eq(i).find('[name="FAULT_REASON"]').val();
                item.repair_action = $('[name="TableTR"]').eq(i).find('[name="REPAIR_ACTION"]').val();
                item.qty = $('[name="TableTR"]').eq(i).find('[name="QTY"]').val();
                item.unit = $('[name="TableTR"]').eq(i).find('[name="UNIT"]').val();
                item.price = $('[name="TableTR"]').eq(i).find('[name="PRICE"]').val();
                item.subtotal = $('[name="TableTR"]').eq(i).find('[name="SUBTOTAL"]').val();
                item.orderid = i + 1;
                vms.push(item);
            }

            vm.vms = vms;
            console.log(vm);
            showLoader();
            $.ajax({
                url: '@(config.GetBackendUrl() + Url.Action("Add_FTT_FORM_AMOUNT"))',
                dataType: 'json',
                type: 'POST',
                data: { vm: vm },
                cache: false
            })
                .done((response) => {
                    if (response.Success) {
                        // 更新金額彙總欄後送出表單
                        $('#btnSubmit').trigger('click');
                    }
                    else {
                        MyApp.Alert.error(response['Message']);
                    }
                })
                .fail((err) => {
                    console.log(err);
                    MyApp.Alert.error('呼叫 API 異常');
                })
                .always(() => {
                    hideLoader();
                });
        })

        $("#form1").submit(function (e) {
            e.preventDefault();
            showLoader();

            if ($(this).is(':invalid')) {
                hideLoader();
            }
            else {
                var vm = {};
                vm.form_no = '@form_no';

                vm.TICKET_INFO = $('#TICKET_INFO').val();
                vm.COMPLETETIME = $('#COMPLETETIME').val();
                vm.PRECOMPLETETIME = $('#PRECOMPLETETIME').val();
                vm.CATEGORY_ID = $('#CATEGORY_ID').val();
                vm.CATEGORY_NAME = $('#CATEGORY_NAME').val();
                vm.REMARK = $('#REMARK').val();

                vm.FORM_TYPE = $('#FORM_TYPE').val();
                vm.STATUS = $('#STATUS').val();

                $.ajax({
                    url: '@(config.GetBackendUrl() + Url.Action("Detail","Pending"))',
                    dataType: 'json',
                    type: 'POST',
                    data: { vm: vm },
                    cache: false
                })
                    .done((response) => {
                        if (response.Success) {
                            MyApp.Alert.success(response['Data'])
                                .then(() => {
                                    window.location = "@(Url.Action("index"))";
                                });
                        }
                        else {
                            MyApp.Alert.error(response['Message']);
                        }
                    })
                    .fail((err) => {
                        console.log(err);
                        MyApp.Alert.error('呼叫 API 異常');
                    })
                    .always(() => {
                        hideLoader();
                    });
            }
        });

        GetDetail();
    });

    function SetControlEmpty() {
        $('#EXPENSE_DESC_TEXT').val("");
        $('#EXPENSE_DESC_SEL').val("");
        $('#FAULT_REASON').val("");
        $('#REPAIR_ACTION').val("");
        $('#QTY').val("");
        $('#UNIT').val("");
        $('#PRICE').val("");
        $('#COMMENT').text("");
    }

    function setConfigSettingList(ConfigSetting) {
        $('#FAULT_REASON').val("");
        $('#REPAIR_ACTION').val("");
        $('#QTY').val(ConfigSetting.QTY);
        $('#UNIT').val(ConfigSetting.UNIT);
        $('#PRICE').val(ConfigSetting.PRICE);
        $('#COMMENT').val(ConfigSetting.REMARK).text(ConfigSetting.REMARK);
    }

    function GetDetail() {
        showLoader();
        var formNo = '@form_no';
        // var data = { formNo: formNo };
        $.ajax({
            type: 'get',
            url: '@(config.GetBackendUrl() + Url.Action("GetDetail", "Pending"))' + '?form_no=' + formNo,
            // data: data,
            dataType: 'json',
            success: function (data) {
                if (data.Success == true) {
                    $('#StoreClass_Company').text(data.Data.Store_profileDTO.Company);
                    $('#StoreClass_StoreType').text(data.Data.Store_profileDTO.StoreType);
                    $('#StoreClass_IVRCode').text(data.Data.Store_profileDTO.IVRCode);
                    $('#StoreClass_Channel').text(data.Data.Store_profileDTO.Channel);
                    $('#StoreClass_Area').text(data.Data.Store_profileDTO.Area);
                    $('#StoreClass_StoreName').text(data.Data.Store_profileDTO.StoreName);
                    $('#StoreClass_eMail').text(data.Data.Store_profileDTO.eMail);
                    $('#StoreClass_Owner').text(data.Data.Store_profileDTO.Owner);
                    $('#StoreClass_PhoneUrgent').text(data.Data.Store_profileDTO.PhoneUrgent);
                    $('#StoreClass_Manager').text(data.Data.Store_profileDTO.Manager);
                    $('#StoreClass_Phone').text(data.Data.Store_profileDTO.Phone);
                    $('#StoreClass_BusinessTime1').text(data.Data.Store_profileDTO.BusinessTime1);
                    $('#StoreClass_BusinessTime2').text(data.Data.Store_profileDTO.BusinessTime2);
                    $('#StoreClass_BusinessTime3').text(data.Data.Store_profileDTO.BusinessTime3);
                    $('#StoreClass_BusinessTime4').text(data.Data.Store_profileDTO.BusinessTime4);
                    $('#StoreClass_DecorationCondition').text(data.Data.Store_profileDTO.DecorationCondition);
                    $('#StoreClass_PhoneFax').text(data.Data.Store_profileDTO.PhoneFax);
                    $('#StoreClass_Address').text(data.Data.Store_profileDTO.Address);
                    $('#StoreClass_Note').text(data.Data.Store_profileDTO.Note);
                    context.KpiDays = data.Data['KpiDays'];

                    $('#ApprovalDate').text(data.Data.ApprovalDate);
                    $('#WarrantyTime').text(data.Data.WarrantyTime);

                    $('#APPROVE_FORM_STATUS_DESC').text('*目前表單狀態: ' + data.Data.Status_Desc);
                    $('#User_Type').val(data.Data.User_Type);
                    $('#STATUS_DESC').val(data.Data.Status_Desc);
                    $('#FORM').val(data.Data.Form_Type);
                    $('#FORM_TYPE').val(data.Data.Form_Type);
                    $('#STATUS').val(data.Data.Status);
                    $('#ACTION_NAME').val(data.Data.ActionName);
                    $('#STORE_TYPE').val(data.Data.Store_profileDTO.StoreType);
                    $('#IVRCODE').val(data.Data.Store_profileDTO.IVRCode);

                    var RequireField = data.Data.RequireField;
                    var accesscontrol = RequireField.split(/,/);

                    for (i = 0; i < accesscontrol.length; i++) {
                        if (accesscontrol[i] != '' && accesscontrol[i] != null)
                            $('#' + accesscontrol[i]).attr('required', '');
                    }

                    var UpdateField = data.Data.UpdateField;
                    // 表單權限處理
                    form_access_control(document.form1, UpdateField);

                    $('#PreHandleDesc').val(data.Data.PreHandleDesc)

                    if (data.Data.FranchiseMsg != "" && data.Data.FranchiseMsg != null) {
                        MyApp.Alert.warning(data.Data.FranchiseMsg);
                    }

                    //if (data.Data.Ftt_formDTO.tt_category == "緊急(新開單)") {

                    //    var option = new Option('緊急(新開單)', '緊急(新開單)', true, true);
                    //    $('#TT_CATEGORY').append(option).trigger('change');
                    //}

                    console.log(data.Data.Ftt_formDTO.tt_category);
                    $("#TT_CATEGORY").val(data.Data.Ftt_formDTO.tt_category);
                    $("#TT_CATEGORY").trigger('change');

                    if (data.Data.Ftt_formDTO.repair == 'Y') {
                        $('[name="Repair"][value="Y"]').prop('checked', true);
                    } else {
                        $('[name="Repair"][value="N"]').prop('checked', true);
                    }

                    if (data.Data.Ftt_formDTO.resupply == 'Y') {
                        $('[name="Resupply"][value="Y"]').prop('checked', true);
                    } else {
                        $('[name="Resupply"][value="N"]').prop('checked', true);
                    }

                    $('#CREATE_TIME').text(data.Data.Create_Time);

                    $('#CIDesc').text(data.Data.Ftt_formDTO.CIDesc);
                    $('#EMPNAME').text(data.Data.Ftt_formDTO.empname);
                    $('#EMPTEL').text(data.Data.Ftt_formDTO.emptel);
                    $('#CATEGORY_ID').val(data.Data.Ftt_formDTO.category_id);
                    $('#CATEGORY_NAME').val(data.Data.Ftt_formDTO.category_name);
                    $('#VENDER_ID').val(data.Data.Ftt_formDTO.vender_id);
                    $('#SELFCONFIG').val(data.Data.Ftt_formDTO.selfconfig);
                    $('#SELFCONFIG_NOTE').text(data.Data.Ftt_formDTO.selfconfig);
                    $('#TT_CATEGORY_NOTE_PANNEL').text(data.Data.Ftt_formDTO.checkitem);
                    $('#TT_CATEGORY_DESC_PANNEL').text(data.Data.Ftt_formDTO.descr);
                    $('#REMARK').val(data.Data.Ftt_formDTO.remark);

                    if (data.Data.Ftt_formDTO.category_id == '1275') {
                        document.all.TT_CATEGORY_LABEL.innerHTML = "報修前確認事項及損壞狀況描述：";
                        document.all.TT_CATEGORY_NOTE_LABEL.innerHTML = "報修前檢查事項：";
                        document.all.TT_CATEGORY_DESC_LABEL.innerHTML = "報修機台編號：";
                        document.all.REMARK_LABEL1.innerHTML = "報修問題描述：";
                        $('#REMARK_LABEL2').show();
                    }
                    else {
                        document.all.TT_CATEGORY_LABEL.innerHTML = "報修品項檢查事項及狀況描述：";
                        document.all.TT_CATEGORY_NOTE_LABEL.innerHTML = "報修品項檢查事項：";
                        document.all.TT_CATEGORY_DESC_LABEL.innerHTML = "報修品項狀況描述：";
                        document.all.REMARK_LABEL1.innerHTML = "報修描述與備註：";
                        $('#REMARK_LABEL2').hide();
                    }

                    if (data.Data.Ftt_formDTO.selfconfig == "N") {
                        $('#VENDER_ID').val(data.Data.Ftt_formDTO.order_id);
                        $('#VENDER_NAME').text(data.Data.Ftt_formDTO.merchant_name);
                        $('#CP_NAME').text(data.Data.Ftt_formDTO.cp_name);
                        $('#CP_TEL').text(data.Data.Ftt_formDTO.cp_tel);
                    }
                    else {
                        $('#VENDER_NAME').text(data.Data.storename);
                    }

                    $('#FORM').text(data.Data.Form);
                    $('#STATUS').text(data.Data.Status);
                    $('#STATUS_DESC').text(data.Data.Status_Desc);

                    if (data.Data.ShowApproveCommon) {
                        $('#submitbutton')
                            .append(
                                $('<font>', {
                                    id: 'approvecommon',
                                    css: {
                                        font: 'bold 9pt Arial',
                                        color: '#000080',
                                        'text-decoration': 'none'
                                    },
                                    text: '建議／說明'
                                })
                            )
                            .append('：')
                            .append(
                                $('<input>', {
                                    type: 'text',
                                    name: 'approvecommon',
                                    maxlength: 200,
                                    size: 80
                                })
                            );
                    }

                    if (data.Data.ShowPriorStatus) {
                        $('#STATUSWORDING').val(data.Data.StatusWording);
                        $('#FORM_TYPE').val(data.Data.Form_Type);
                        $('#STATUS').val(data.Data.Status);
                        RequireField = data.Data.RequireField;
                        $('#btnSubmit').val(data.Data.BtnSubmitName);
                    }
                    if (data.Data.ApproveY) {
                        $('#btnSubmit').val(data.Data.BtnSubmitName);
                        $('#STATUSWORDING').val(data.Data.StatusWording);
                        RequireField = data.Data.RequireField;
                        $('#FORM_TYPE').val(data.Data.Form_Type);
                        document.all.APPROVE.value = 'Y';
                        $('#User_Type').val(data.Data.User_Type);
                        $('#STATUS').val(data.Data.Status);
                    }
                    else {
                        $('#btnSubmit').val(data.Data.BtnSubmitName);
                        $('#STATUSWORDING').val(data.Data.StatusWording);
                        RequireField = data.Data.RequireField;
                        $('#FORM_TYPE').val(data.Data.Form_Type);
                        $('#STATUS').val(data.Data.Status);
                    }

                    if (data.Data.ShowSubmitButton == false) {
                        $('#btnSubmit').addClass('d-none');
                    }

                    $('#User_Type').val(data.Data.User_Type);
                    UpdateField = data.Data.UpdateField;
                    RequireField = data.Data.RequireField;

                    if (data.Data.ShowOriginSubmitForm == true) {
                        $('#SubmitForm').show();
                    }

                    if (data.Data.UpdateSELECTSTATUSOption2 == true) {
                        $("#SELECTSTATUS option").eq(2).text("故障排除");
                        $("#SELECTSTATUS").trigger("change.select2");
                    }

                    if (data.Data.DeleteSELECTSTATUSOption3 == true) {
                        $("#SELECTSTATUS option").eq(3).remove();
                        $("#SELECTSTATUS").trigger("change.select2");
                    }

                    if (data.Data.TempStatus == 'TICKET') {
                        $('#SELECTSTATUS_PANEL').show();
                    }

                    if (data.Data.DeleteSELECTSTATUS2ThreeTimes == true) {
                        $("#SELECTSTATUS option").eq(2).remove();
                        $("#SELECTSTATUS").trigger("change.select2");
                        $("#SELECTSTATUS option").eq(2).remove();
                        $("#SELECTSTATUS").trigger("change.select2");
                        $("#SELECTSTATUS option").eq(2).remove();
                        $("#SELECTSTATUS").trigger("change.select2");
                    }

                    for (var i = 0; i < data.Data.Ftt_form_amountDTOs.length; i++) {
                        var item = data.Data.Ftt_form_amountDTOs[i];
                        addItemRow(item, data.Data.HideAmountDel);

                    }

                    if (data.Data.HideNewData == true) {
                        $('#NewData').hide();
                    }

                    $('#CATEGORY_ID').val(data.Data.Category_Id);
                    $('#Totals').text(data.Data.Amount_Cost);
                    $('#AMOUNT_COST').val(data.Data.Amount_Cost)

                    $('#AMOUNT_CONFIG').val(data.Data.Amount_Config);

                    for (var i = 0; i < data.Data.Amount_SelectList.length; i++) {
                        var item = data.Data.Amount_SelectList[i];

                        var option = new Option(item.Text, item.Value, true, true);
                        $('#EXPENSE_TYPE').append(option).trigger('change');
                    }

                    if (data.Data.UpdateAmount_Config == true) {
                        $('.input_class').hide();
                    }
                    else {
                        $('.select_class').next('.select2-container').hide();
                    }

                    var ticket_info = data.Data.Ftt_formDTO.ticket_info;
                    if (ticket_info != '' && ticket_info != null) {
                        document.getElementById(ticket_info + "_PANEL").style.display = "";
                        $('#TICKET_INFO').val(ticket_info);

                        if (ticket_info == 'COMPLETE') {
                            $('#AMOUNT_PANEL').show();

                            $("#COMPLETETIME_Shell").datetimepicker('date', data.Data.Ftt_formDTO.completetime);
                            $('#VENDOR_ARRIVE_DATEShell').datetimepicker('date', data.Data.Ftt_formDTO.vendor_arrive_date);
                            checkKPI($("#COMPLETETIME_Shell").datetimepicker('date'));
                        }
                        if (ticket_info == 'PENDING') {
                            $('#AMOUNT_PANEL').hide();
                            $("#PRECOMPLETETIME_Shell").datetimepicker('date', data.Data.Ftt_formDTO.precompletetime);
                            checkKPI($("#PRECOMPLETETIME_Shell").datetimepicker('date'));
                        }
                        if (ticket_info == 'OFFER') {
                            $('#AMOUNT_PANEL').show();
                            checkKPI($("#PRECOMPLETETIME_Shell").datetimepicker('date'));
                        }
                        if (data.Data.ShowAmountPanel) {
                            $('#AMOUNT_PANEL').show();
                        }
                    }

                    if (data.Data.IsAdmin) {
                        $('#FormEditTab3').show();
                        $('#FormEditNavItem3').show();

                    }
                    else {
                        $('#FormEditTab3').remove();
                        $('#FormEditNavItem3').remove();
                    }

                    if (data.Data['SelectListDelayReason']) {
                        let $control = $('#DELAY_REASON');
                        let dataSource = $.map(data.Data['SelectListDelayReason'], (val, idx) => {
                            $.extend(val, {
                                id: val['@(nameof(SelectListItem.Value))'],
                                text: val['@(nameof(SelectListItem.Text))'],
                            });

                            return val;
                        });
                        $control.empty();
                        $control.html('<option></option>')
                        $control.select2({
                            allowClear: true,
                            data: dataSource,
                        });
                    }

                    hideLoader();
                } else {
                    MyApp.Alert.error(data.Message);
                    hideLoader();

                }
            },
            error: function (msg) {
                hideLoader();
            }
        });
    }

    function addItemRow(obj, hideAmountDel) {
        if (obj == null && checkAddItem() == false)
            return false;
        else {
            var _EXPENSE_TYPE = $('#EXPENSE_TYPE').val();
            var _EXPENSE_DESC_SEL = $('#EXPENSE_DESC_SEL :selected').text();
            var _EXPENSE_DESC_TEXT = $('#EXPENSE_DESC_TEXT').val();
            var _FAULT_REASON = $('#FAULT_REASON').val();
            var _REPAIR_ACTION = $('#REPAIR_ACTION').val();
            var _QTY = $('#QTY').val();
            var _UNIT = $('#UNIT').val();
            var _PRICE = $('#PRICE').val();

            if (obj != null) {
                _EXPENSE_TYPE = obj.expense_type || '';
                _EXPENSE_DESC_SEL = obj.expense_desc || '';
                _EXPENSE_DESC_TEXT = obj.expense_desc || '';
                _FAULT_REASON = obj.fault_reason || '';
                _REPAIR_ACTION = obj.repair_action || '';
                _QTY = obj.qty || '';
                _UNIT = obj.unit || '';
                _PRICE = obj.price || '';
            }

            try {
                var index = parseInt($('#AMOUNT_MAX_IDX').val()) + 1;
                var addRow = String.format('<tr id="AMOUNT_TR_{0}" name="TableTR">', index);

                addRow += String.format('<td>', index); //

                if (hideAmountDel == false) {
                    addRow += String.format('<button type="button" class="btn btn-link text-danger icofont icofont-trash fs-6 p-1" style="cursor:pointer;" onclick="DelAMOUNT(this)" ></button>', index); //刪除按鈕
                }
                addRow += String.format('</td>', index); //

                addRow += String.format('<td>{0}', _EXPENSE_TYPE); //費用種類
                addRow += String.format('<input type="hidden" id="EXPENSE_TYPE_{0}" name="EXPENSE_TYPE" value="{1}" /></td>', index, _EXPENSE_TYPE);

                if ($('#AMOUNT_CONFIG').val() == "Y") {
                    addRow += String.format('<td>{0}', _EXPENSE_DESC_SEL); //維修細項
                    addRow += String.format('<input type="hidden" id="EXPENSE_DESC_{0}" name="EXPENSE_DESC" value="{1}" /></td>', index, _EXPENSE_DESC_SEL);
                }
                else {
                    addRow += String.format('<td>{0}', _EXPENSE_DESC_TEXT); //維修細項
                    addRow += String.format('<input type="hidden" id="EXPENSE_DESC_{0}" name="EXPENSE_DESC" value="{1}" /></td>', index, _EXPENSE_DESC_TEXT);
                }

                addRow += String.format('<td>{0}', _FAULT_REASON); //檢測故障原因
                addRow += String.format('<input type="hidden" id="FAULT_REASON_{0}" name="FAULT_REASON" value="{1}" /></td>', index, _FAULT_REASON);
                addRow += String.format('<td>{0}', _REPAIR_ACTION); //維修處理動作
                addRow += String.format('<input type="hidden" id="REPAIR_ACTION_{0}" name="REPAIR_ACTION" value="{1}" /></td>', index, _REPAIR_ACTION);
                addRow += String.format('<td>{0}', _QTY); //數量
                addRow += String.format('<input type="hidden" id="QTY_{0}" name="QTY" value="{1}" /></td>', index, _QTY);
                addRow += String.format('<td>{0}', _UNIT); //單位
                addRow += String.format('<input type="hidden" id="UNIT_{0}" name="UNIT" value="{1}" /></td>', index, _UNIT);
                addRow += String.format('<td>{0}', _PRICE); //單價
                addRow += String.format('<input type="hidden" id="PRICE_{0}" name="PRICE" value="{1}" /></td>', index, _PRICE);

                var tmpTotal = parseInt(_QTY) * parseInt(_PRICE);

                calSubTotal('Add', tmpTotal);

                tmpTotal = "$" + tmpTotal + ".-";

                addRow += String.format('<td>{0}', tmpTotal); //小計
                addRow += String.format('<input type="hidden" id="SUBTOTAL_{0}" name="SUBTOTAL" value="{1}" /></td>', index, tmpTotal);

                $('#AMOUNT_MAX_IDX').val(index);

                $('#AMOUNT_LIST').append(addRow);
            }
            catch (ex) {
                MyApp.Alert.error(ex.message);
            }
        }
    }

    function checkAddItem() {
        if ($('#EXPENSE_TYPE').val() == "") {
            MyApp.Alert.warning('請選擇【費用種類】！');
            return false;
        }
        else if (($('#EXPENSE_DESC_SEL').val() == "" || $('#EXPENSE_DESC_SEL').val() == "請選擇...") && $('#AMOUNT_CONFIG').val() == "Y") {
            MyApp.Alert.warning('請選擇【維修細項】！');
            return false;
        }
        else if ($('#EXPENSE_DESC_TEXT').val() == "" && $('#AMOUNT_CONFIG').val() == "N") {
            MyApp.Alert.warning('請選擇【維修細項】！');
            return false;
        }
        else if ($('#QTY').val() == "") {
            MyApp.Alert.warning('請選擇【數量】！');
            return false;
        }
        else if ($('#UNIT').val() == "") {
            MyApp.Alert.warning('請選擇【單位】！');
            return false;
        }
        else if ($('#PRICE').val() == "") {
            MyApp.Alert.warning('請選擇【單價】！');
            return false;
        }
        else
            return true;
    }

    function DelAMOUNT(obj) {
        try {
            var thisTR = $(obj).parents('[name="TableTR"]');
            var delPrice = $(thisTR).find('[name="PRICE"]').val();
            var delQty = $(thisTR).find('[name="QTY"]').val();

            var tmpTotal = parseInt(delQty) * parseInt(delPrice);

            calSubTotal('Del', tmpTotal);

            $('#AMOUNT_MAX_IDX').val(parseInt($('#AMOUNT_MAX_IDX').val()) - 1);

            $(thisTR).remove();
        }
        catch (ex) {
            MyApp.Alert.error(ex.message);
        }
    }
    function calSubTotal(type, obj) {
        var cost1 = parseInt(obj);
        var cost2 = parseInt($('#AMOUNT_COST').val());

        var total_cost;
        if (type == 'Add') {
            total_cost = parseInt(cost1) + parseInt(cost2);
        }
        else if (type == 'Del') {
            total_cost = parseInt(cost2) - parseInt(cost1);
        }

        $('#AMOUNT_COST').val(total_cost);
        $('#Totals').text(total_cost);
    }

    function form_access_control(formobj, allowed_field) {
        allowed_field = ',' + allowed_field + ',';
        allowed_field = allowed_field.replace(',PRECOMPLETE_DATE,', ',PRECOMPLETETIME,');
        allowed_field = allowed_field.replace(',COMPLETE_DATE,', ',COMPLETETIME,');
        var ignoreFieldList = ['EXPENSE_TYPE', 'EXPENSE_DESC_SEL', 'FAULT_REASON', 'REPAIR_ACTION', 'QTY', 'UNIT', 'PRICE'];
        var vobj = eval(formobj);
        console.log('allowed_field', allowed_field);
        if (vobj != null) {
            for (var i = 0; i < vobj.length; i++) {
                let item = vobj[i];
                if (item.name != null) {
                    if (item.name.length > 1) {
                        if (item.type != 'hidden') {
                            if (!ignoreFieldList.includes(item.name)) {
                                if (check_field_access(item.name, allowed_field) != true) {
                                    //alert('Disable '+item.name);
                                    disable_field(item);
                                } else {
                                    //alert('Enable '+item.name);
                                    enable_field(item);
                                }   // Check ACL
                            }        
                        }      // != hidden
                    }         // Name length > 2
                }           // Name != null
            }              // for
        }                // obj != null
    }

    function check_field_access(fldname, allow_string) {
        var accessright = false;

        if (fldname != null) {
            if (allow_string != null) {
                var arrobj = allow_string.split(',');
                for (var i = 0; i < arrobj.length; i++) {
                    if (fldname.toLowerCase() == arrobj[i].toLowerCase()) {
                        accessright = true;
                    }
                }
            }
        }
        return accessright;
    }

    function disable_field(vobj) {
        switch (vobj.tagName) {
            case 'INPUT':
                if (vobj.type == 'checkbox' || vobj.type == 'radio') {
                    DisableRadio(vobj);
                } else if (vobj.type == 'button' || vobj.type == 'submit') {
                    vobj.disabled = true;
                } else if (vobj.type != 'hidden') {
                    DisableKeyInText(vobj);
                }
                break;
            case 'TEXTAREA':
                DisableKeyInText(vobj);
                break;
            case 'SELECT':
                DisableSelect(vobj);
                break;
            case 'IMG':
                vobj.style.visibility = 'hidden';
                vobj.style.position = 'absolute';
                break;
            case 'SPAN':
                if (vobj.className == 'selectButton') {
                    vobj.style.visibility = 'hidden';
                    vobj.style.position = 'absolute';
                }
                break;
            default:
        }
    }

    function enable_field(vobj) {
        switch (vobj.tagName) {
            case 'INPUT':
                if (vobj.type == 'checkbox' || vobj.type == 'radio') {
                    EnableRadio(vobj);
                } else if (vobj.type == 'button' || vobj.type == 'submit') {
                    vobj.disabled = false;
                } else if (vobj.type != 'hidden') {
                    EnableKeyInText(vobj);
                }
                break;
            case 'TEXTAREA':
                EnableKeyInText(vobj);
                break;
            case 'SELECT':
                EnableSelect(vobj);
                break;
            case 'IMG':
                vobj.style.visibility = 'visible';
                vobj.style.position = 'relative';
                break;
            case 'SPAN':
                if (vobj.className == 'selectButton') {
                    vobj.style.visibility = 'visible';
                    vobj.style.position = 'relative';
                }
                break;
            default:
        }
    }

    function CheckFormInTicket(event) {
        event.preventDefault(); // 阻止表單送出
        $('#form1').addClass('was-validated');
        if (!$('#form1')[0].checkValidity()) {
            return;
        }

        console.log(iFrameIsSubmit);
        if (!iFrameIsSubmit) {
            $('#SubmitFormAddAmount').trigger('click');
            return false;
        }

        $('#btnSubmit').trigger('click');
    }

    function deleteAllOptions(obj) {
        for (var i = obj.options.length - 1; i > 0; i--)
            obj.options[i] = null;
    }

    function EnableKeyInText(obj) {
        obj.readOnly = false;
        obj.style.background = "white";
    }

    function DisableKeyInText(obj) {
        obj.readOnly = true;
        obj.style.background = "#DDDDDD";
    }

    function EnableSelect(obj) {
        obj.disabled = false;
        obj.style.background = "white";
    }

    function DisableSelect(obj) {
        obj.disabled = true;
        obj.style.background = "#DDDDDD";
    }

    function EnableRadio(obj) {
        obj.disabled = false;
    }

    function DisableRadio(obj) {
        obj.disabled = true;
    }

    function EnableButton(obj) {
        obj.disabled = false;
        obj.style.background = "#CCCCCC";
    }

    function DisableButton(obj) {
        obj.disabled = true;
        obj.style.background = "#DDDDDD";
    }

    function getRadioValue(obj) {

        for (i = 0; i < obj.length; i++) {
            if (obj[i].checked) {
                return (obj[i].value);
            }
        }
    }

    function getCheckBoxValue(obj) {
        var m_result = "";
        for (i = 0; i < obj.length; i++) {
            if (obj[i].checked) {
                m_result += (obj[i].value) + ",";
            }
        }
        return m_result;
    }

    function checkKPI(endDate) {
        let mStartDate = moment($('#CREATE_TIME').text(), 'YYYY/MM/DD');
        let mEndDate = moment(endDate, 'YYYY/MM/DD');
        console.log(mStartDate, mEndDate);
        let diffDays = mEndDate.diff(mStartDate, 'days');
        console.log(context.KpiDays, diffDays);
        if (diffDays > context.KpiDays) {
            $('#DELAY_REASON_PANEL').show();
            $('#DELAY_REASON').prop('disabled', false);
        }
        else {
            $('#DELAY_REASON_PANEL').hide();
            $('#DELAY_REASON').prop('disabled', true);
        }
    }

</script>