@{
    var mapAttr = new
    {
        IdGrid = Guid.NewGuid(),
    };

    var mapText = new
    {
        Text_CreateDate = "建立日期",
        Text_CreateUser = "建立人員",
        Title_BlockSearch = "檢索",
        Title_BlockGrid = "資料一覽",
        Btn_Search = "查詢",
        Btn_Clear = "清除",
        Btn_Create = "新增",
        Btn_Confirm = "確認",
        Btn_Cancel = "取消",
    };
}

<div class="container-fluid">
    <div class="page-header" style="padding-bottom:20px">
        <div class="row">
            <div class="col-sm-6">
                <h3>處理中</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home" data-bs-original-title="" title="">首頁</a></li>
                    <li class="breadcrumb-item">功能</li>
                    <li class="breadcrumb-item active"><a href="" data-bs-original-title="" title="">處理中</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div id="@(mapAttr.IdGrid)"></div>

            <div class="d-block d-md-flex justify-content-md-end align-items-center pagination">
                <div id="pageResizer" class="jsgrid-pager-page">
                    <span>每頁筆數:</span>
                    <select id="pageSelect">
                    </select>
                </div>
                <div id="pagers">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        const context = {
            $Grid: $("#@(mapAttr.IdGrid)"),
        };

        $(function () {
            initGrid(1);

            $("#pageSelect").on("change", function () {
                const val = this.value;
                onPageLenghtSelect(val, context.$Grid);
            })

            $("#pageSelect").select2({
                minimumResultsForSearch: -1,
                data: pageDataSource
            });
            $("#pageSelect").data("select2").$container.addClass("w-auto");
        });

        function initGrid(cookiePageIndex) {
            $("#@(mapAttr.IdGrid)").jsGrid({
                pageIndex: cookiePageIndex,
                paging: true,
                width: "100%",
                pageSize: pageDataSource[0].id,
                pageButtonCount: 5,
                pagerFormat: "{first} {prev} {pages} {next} {last}    第 {pageIndex} 頁 共 {pageCount} 頁",
                pagePrevText: "上一頁",
                pageNextText: "下一頁",
                pageFirstText: "第一頁",
                pageLastText: "最後一頁",
                pageLoading: true,
                autoload: true,
                rowDoubleClick: function (args, item) {
                    var form_no = args.item.form_no;

                    var newTab = window.open('@(Url.Action("Detail", new { formNo = "tempid" }))'.replace("tempid", form_no), '_blank');
                    newTab.location;

                },
                changePageSize: function (pageSize) {
                    var $this = this;
                    $this.pageSize = pageSize;

                    context.$Grid.jsGrid("openPage", 1);
                },
                pagerContainer: "#pagers",
                onDataLoaded: function () {
                    feather.replace();
                },
                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "POST",
                            url: "@(config.GetBackendUrl() + Url.Action("GetPageList"))",
                            data: filter,
                            dataType: "json",
                            success: function (res) {
                                if (res.Success === false) {
                                    swal({
                                        text: res.Message,
                                        icon: "error",
                                        button: "確認"
                                    });
                                    d.reject();
                                    return;
                                }
                                var da = {
                                    data: res.Data,
                                    itemsCount: res.Total
                                }
                                d.resolve(da);
                            }
                        })

                        return d.promise();
                    }
                },
                fields: [
                    { name: "Id", visible: false },
                    { name: "form_no", title: "工單號碼", type: "text", width: 100, align: "center" },
                    { name: "tt_category", title: "報修型態", type: "text", width: 100, align: "center" },
                    { name: "l2_desc", title: "報修類別", type: "text", width: 150, align: "center" },
                    { name: "ciname", title: "報修品項", type: "text", width: 150, align: "center" },
                    { name: "createtime", title: "報修日期", type: "text", width: 120, align: "center" },
                    { name: "shop_name", title: "店名", type: "text", width: 120, align: "center" },
                    { name: "statusname", title: "工單狀態", type: "text", width: 100, align: "center" },
                    { name: "CurrentInchargeName", title: "目前處理者", type: "text", width: 120, align: "center" },
                    {
                        type: 'control', align: "center",
                        width: 80,
                        editButton: false,
                        deleteButton: false,
                        headerTemplate: (value, item) => {
                            return $("<div><div>").attr({ class: '' });
                        },
                        itemTemplate: (value, item) => {

                            $trackingFormButton = $('<button>')
                                .attr({
                                    'class': 'btn btn-primary mt-3',
                                    'style': 'margin-left:10px; '
                                })
                                .html('催單')
                                .on('click', () => {
                                    var data = {
                                        form_no: item['form_no']
                                    };

                                    $.ajax({
                                        url: "@(config.GetBackendUrl() + Url.Action("InsterTrackingForm"))",
                                        dataType: 'json',
                                        type: 'POST',
                                        data: data
                                    })
                                        .done((response) => {
                                            var msg = response.Success ? response.Data : response.Message;
                                            var alertType = response.Success ? "success" : "error";

                                            swal({
                                                text: msg,
                                                button: '@(mapText.Btn_Confirm.ToHtmlString())',
                                                icon: alertType
                                            }).then((result) => {
                                                context.$Grid.jsGrid('search');
                                            });
                                        });
                                });

                            var result = $('<div>');
                            if (item["IsTICKET"] == true) {
                                result.append($trackingFormButton);
                            }
                            return result;
                        }
                    },
                ],
            });

            //分頁頁數紀錄相關
            context.$Grid.jsGrid('_setPage', cookiePageIndex);//jsgrid bug 不會自動將頁碼設定成pageindex
        }

    </script>
}
