@{
    var deatail = ViewData["deatail"] as string;
    var funcId = ViewData["funcId"] as string;
}
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>@(ViewData["FuncName"])</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/homeStart/index" data-bs-original-title="" title="">首頁</a></li>
                    <li class="breadcrumb-item">@(ViewData["className"])</li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index",new { FuncId=funcId, className = ViewData["className"] })" data-bs-original-title="" title="">@(ViewData["FuncName"])</a></li>
                    @if (!string.IsNullOrEmpty(deatail))
                    {
                        <li class="breadcrumb-item active">@(ViewData["deatail"])</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
